a:link, a:hover, a:visited, a:active { text-decoration : none ; color : #000000 }

.selected { background-color : #337ab7 ; color : #FFFFFF}

.leases { width : 80% ; margin : auto ; border : solid ; padding : 1% ; margin-bottom : 1%}

