<form *ngFor='let product of products'>
	<div class="col-md-4">
                <div class="panel panel-primary">
               	         <div class="panel-heading">
				 <h3 class="panel-title text-center">{{product.name}}</h3>
                        </div>
                        <div class="panel-body">
				<img class="center-block productImage" id="{{product.model}}" src="assets/images/{{product.image}}"/>
				<div class="form-group">
					<div class="productPrice text-center">
						{{product.price | currency:'USD':true}}
					</div>
					<div class="center-block form-group" style="width:9em">
						<label for="{{product.model}}-n">Buy</label>
						<input type="radio" name="{{product.model}}-radio" id="{{product.model}}-y" value="n" 
							(click)="hideLease(product)"/>
						<label for="{{product.model}}-y">Lease</label>
						<input type="radio" name="{{product.model}}-radio" id="{{product.model}}-n" value="y" 
							(click)="showLease(product)" checked>
					</div>
					<div *ngIf="product.showLease == true">
						<div class="text-center leaseOptions-{{product.model}}">Lease Duration(Months)</div>
						<div class="center-block leaseOptions-{{product.model}} btn-group" data-toggle="buttons" style="width:9em">
							<label (click)="setDuration(36)" class="btn btn-primary active">
								<input id="{{product.model}}-months-36" type="radio"  value="36"/> 36 
							</label>
							<label (click)="setDuration(48)" class="btn btn-primary">
								<input id="{{product.model}}-months-48" type="radio" value="48"/> 48 
							</label>
							<label (click)="setDuration(60)" class="btn btn-primary">
								<input id="{{product.model}}-months-60" type="radio" value="60"/> 60 
							</label>
						</div>
					</div>
	
				</div>
			</div>
			<a (click)="addLease(product)" class="btn center-block btn-success" style="margin-bottom : 1em;width : 40%">Purchase</a>
		</div>
		</div>
</form>
