a:link, a:hover, a:visited, a:active { text-decoration : none ; color : #000000 }

.selected { background-color : #337ab7 ; color : #FFFFFF}

#security { margin-top : 1% !important; padding : 1% ; border : solid ; width : 80% ; margin : auto }
