<h1>Available Leases</h1>
<leases [leases]="unassignedLeases"></leases>
<div class="text-center">
	<button class="btn btn-primary" (click)="addLease()">Add</button>
	<button class="btn btn-primary" (click)="removeLease()">Remove</button>
</div>
	<label for="securityName">Security Name<input type="text" id="securityName" [(ngModel)]="security.name"  placeholder="Security Name"/>
		<div>Leases:</div>
		<table class="table" *ngIf="leases.length > 0">
			<thead>
		<tr>
				<th>Product</th>
				<th>Duration</th>
		</tr>
			</thead>
		<tr *ngFor="let lease of leases" (click)="onSelect(lease)" [class.selected]="lease === selectedLease">
			<td>{{lease.product.name}}</td>
			<td>{{lease.duration}}</td>
		</tr>
	</table>
	<button class="btn btn-primary" (click)="saveSecurity()">Save</button>
