<img alt="Pathfinder Logo" id="pathfinder" class="center-block" src="assets/images/Pathfinder-Logo.png"/>
<div id="listings" class="container">
	<div id="items" class="row">
		<products></products>
	</div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="saveModal">
        <div class="modal-dialog" role="document">
                <div class="modal-content">
                        <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="modal-title">New Lease Created</h4>
                        </div>
                        <div class="modal-body">
                                <div class="container">
                                        <div *ngFor="let lease of leases">{{lease.product}}</div>
                                </div>
                        </div>
                        <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

